$dark-purple: #6B5BB6;
$dark-red: #B9342D;

@mixin buttonHover($height) {
    bottom: $height;
}
@mixin buttonClick($down-height) {
    bottom: -$down-height;
}

#expense-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-container {
    position: relative;
}

.button-back {
    position: absolute;
    z-index: -1;
    top: 4px;
    width: 100%;
    height: 100%;

    border-radius: 7px;
    background-color: $dark-purple;
    transition: background-color .1s ease;
}

#submit-expense-form-button,#submit-expense-form-button-err {
    position: relative;
    width: 180px;
    height: 50px;
    bottom: 0px;

    cursor: pointer;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    color: $dark-purple;

    border: 2px solid $dark-purple;
    border-radius: 7px;
    transition: bottom .1s ease,
                border-color .1s ease,
                color .5s ease;
}
#submit-expense-form-button:hover {
    @include buttonHover(3px);
}
#submit-expense-form-button:active:hover {
    @include buttonClick(4px);
}
#submit-expense-form-button-err:hover {
    @include buttonHover(3px);
}
#submit-expense-form-button-err:active:hover {
    @include buttonClick(4px);
    color: $dark-red;
    border-color: $dark-red;
}
#submit-expense-form-button-err:active:hover + .button-back {
    background-color: $dark-red;
}

#expense-form-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

#expense-form-inputs > div {
    display: flex;
}

#expense-form-inputs > label {
    font-weight: 600;
}

.input-field {
    height: 30px;
    border: 1px solid #D9D9D9;
    margin-bottom: 15px;
    padding: 0px 10px 0px 10px;
    width: 60%;
}
.input-field:focus {
    outline: none;
}

#amount-desc-container {
    font-size: 11px;
}
#amount-desc-container > p {
    margin: 0;
    padding: 0 0 0 10px;
    color: #a5a5a5;
}
